[Unit]
Description=Graceful exit watcher
StopWhenUnneeded=true
DefaultDependencies=false

[Service]
ExecStart=/usr/bin/sleep infinity
ExecStopPost=/usr/bin/systemctl isolate reaper.service
